h1  {
  font-size: 20px;
  font-weight: bold;
}
body {
  background-color: grey;
}
.action {
  margin: 20px;
  border: 2px solid black;
  padding: 14px;
  background-color: grey;
  text-align: center;
}
.phrase {
  font-size: 30px;
  font-weight: bold;
}
.jumbotron{
  text-align: center;
  margin-top: 105px;

}
